*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color:white;
  }
  
  body{
      margin: 0px;
      padding: 0px;
      background-color: rgb(15,15,15);
      overflow-x: hidden;
     
  }
  .overflow-alternative {
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem vertical */
  }
  
  /* Estilizando o "polegar" (a parte da barra de rolagem que o usuário arrasta) */
  body::-webkit-scrollbar-thumb {
    background-color: #8e8e8e; /* Color of the thumb */
    border-radius: 5px; /* Borda arredondada */
  }
  
  /* Estilizando a trilha (o fundo da barra de rolagem) */
  body::-webkit-scrollbar-track {
     background-color: #1b1b1b;   /* Cor da trilha */
     border-radius: 5px; /* Borda arredondada */
  }
  
  
  
  .custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .custom-navbar {
   padding: 0px;
  }
  
  
  /* Estilos da animação de sublinhado */
  
  .position-absolute:hover {
    transform: scale(1.1);
  }
  
  .active3 {
    background-color: rgb(190,153,58);
  }
  
  
  
  
  #lixao{
  
      font-weight: bold;
     
      font-size: 30px;
     
      
      
      
  
  }
  
  
  
  
  
  
  #ts{
      font-family:Roboto;
  }
  #ts2{
      font-family:Roboto;
  }
  #ts3{
      font-family:Roboto;
  }
  
  
  
  
  
    @media (max-width: 1000px) {
      #navbar {
         
          width: 300px;
      }
      #menu{
        animation-name: fade-in;
        animation-duration: 0.5s;
  
        margin-left: 5px;
       top: 0;
        position: absolute;
      } 
      .close-video-button {
        font-size: 10px;
        top: 0px;
        position: absolute;
      }
      iframe {
        width: 200px;
        height: 150px;
      }
      body {
        padding-top: 30px;
      }
    }
  
  
  
  
  
    @media  (max-width:1440px) {
      #remover-video {
       right: 50%;
       font-size: 20px;
       top: 0px;
       position: relative;
       
      }
      #menu{
        animation-name: fade-in;
       
        animation-duration: 0.5s;
        padding: 5px;
        margin-left: 10px;
        position: absolute;
        top: 2px;
      } 
      .videoPlayer {
       max-width: 900px;
      }
      iframe {
        width: 900px;
        height: 500px;
      }
    }
    
    @media screen and (width:1600px) {
      .videoPlayer {
        max-width: 1100px;
      
      }
      #remover-video {
        right: 15%;
        font-size: 20px;
        top: 0px;
        
       }
    }
    
    @media screen and (width:1680px) {
      .videoPlayer {
        max-width: 1100px;
      
      }
      .close-video-button{
        right: 15%;
        font-size: 20px;
        top: 0px;
        
       }
    }
  
  
    
  
    #teste {
      background-image:linear-gradient(to right,rgb(190,153,58),rgb(111,82,51));
      
    
      
    }
  
    #videoPlayer {
      display: flex;
      justify-content: center;
      align-items: center;
    z-index: -1;
    }
    
   
  li  img {
    padding: 25px;
  }
  
  

  
   li a{
      text-decoration: none;
      color: rgb(255, 254, 254);
  
      
      padding: 25px;
  }

 li a:hover {
  background-color: rgb(190,153,58);
 }
 

  .hide{
      left: -350px;
      transition: 0.3s;
  }
  

  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  #menu:hover {
    transition: 0.5s;
    background-color:rgba(255, 255, 255, 0.2) ;
    border-radius: 50px;
    cursor: pointer;
  }
  .show{
      transition: 0.3s;
      left:0px;
      
  }
  #active {
    background-color: rgb(190,153,58);
  }
  
  .active-2{
    background-color: rgb(111,82,51);
  }
  
  .linha{
       
    margin: 7px;
    border: 1px solid rgb(255, 254, 254);
    width: 25px;
  }
  
  
   
    
  
    #main img {
      transition: transform 0.3s ease-in-out; /* Adicione uma transição suave para o efeito */
      cursor: pointer;
    }
   
  
  
    
  
  .filled {
    color: gold; /* Cor das estrelas preenchidas */
  }
  
  /* Estilo para estrelas com metade preenchida */
  .half-filled {
    position: relative;
    display: inline-block;
    width: 1.25em; /* Tamanho da estrela */
  }
  
  .half-filled:before {
    content: '\f005'; /* Código do ícone de estrela */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Metade da estrela preenchida */
    overflow: hidden;
    color: gold; /* Cor das estrelas preenchidas */
  }
  
  
  
  
  .star-container {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .fas.fa-star.empty {
    color: #ccc; /* Cor para estrelas vazias */
  }
  
  .overflow-x {
  overflow-x: hidden;
  }
  
  
  
   @media (max-width: 1000px) {
    #navbar {
       
        width: 300px;
    }
    #menu{
      animation-name: fade-in;
      animation-duration: 0.5s;
      padding: 10px;
      margin-left: 40px;
      position: absolute;
    } 
    header {
      padding: 10px;
    }
  }
  
  
  li  img {
    padding: 25px;
  }
  
  .no-functions {
    pointer-events: none;
  }
  
  
  
  
  .profile-img {
    width: 48px;
    height: 48px;
  
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  
  .active-2{
    background-color: rgb(111,82,51);
  }
  
  .linha{
       
    margin: 7px;
    border: 1px solid rgb(255, 254, 254);
    width: 25px;
  }
  
  
  
  #menu{
    animation-name: fade-in;
   
    animation-duration: 0.5s;
    padding: 10px;
    margin-left: 30px;
  
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  
  
  
  
  #menu:hover {
    transition: 0.5s;
    background-color:rgba(255, 255, 255, 0.2) ;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .centered-footer {
    text-align: center;
    padding: 25px;
  }
  
  li{
    display: flex;
    align-items: center;
    
    
  }
  
  .close-video-button {
    position: absolute;
    top: 15px;
    transition: background-color 0.3s;
    border-radius: 50%;
    right: 14%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
  
  }
  
  .close-video-button:hover {
    background-color: rgba(255, 255, 255, 0.2)
    
  }
  
  
  .d-flex {
    justify-content: center;
  }
  
  
  
  @media  (min-width:1920px) {
   
    #menu{
      animation-name: fade-in;
     
      animation-duration: 0.5s;
      padding: 5px;
      margin-left: 20px;
      position: absolute;
      top: 2px;
    } 
    
  }
  
  
  
  
  
  
    #remover-video:hover {
      /* Estilos ao passar o mouse */
      background-color: rgba(255, 255, 255, 0.2); /* Vermelho semi-transparente */
    }
  
  
  
  
  
  
  
  
  
  
  
  
  .footer {
    text-align: center;
    margin-top: 90%; /* ajuste conforme necessário */
    font: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .darken-mode {
    background-color: rgb(190,153,58);
  }
  


  
  
  /* Ajuste do estilo do título e do conteúdo */
  #infocontainer {
    background-color: #141414;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }/* Estilo para a imagem principal */
.main-image {
    width: 100%; /* Defina a largura que desejar */
    max-height: 100vh; /* Defina a altura máxima que desejar */
    object-fit: cover;
    border-radius: 10px; /* Adicione um valor de border-radius para arredondar as bordas */
    display: block; /* Para centralizar horizontalmente */
    margin: 0 auto; /* Para centralizar horizontalmente */
    position: relative; /* Para permitir que o elemento de sobreposição seja posicionado sobre a imagem */
  }
  
 
  
  /* Resto do seu CSS */
  
  
  
  /* Ajuste do estilo do título e do conteúdo */
  #infocontainer {
    background-color: #141414;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }